node_modules/
.pnpm-store/
npm-debug.log*
pnpm-debug.log*

.next/
out/
build/
dist/
.turbo/

apps/cms/.cache/
apps/cms/build/
apps/cms/.strapi/
apps/cms/public/uploads/

apps/web/.env.local

.env
.env.local
.env.*.local

infra/**/*.env
infra/**/.env
infra/env/

.docker/
docker-compose.override.yml
*.db
*.sqlite

!.husky/
!.npmrc
!.prettierrc